form li {
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: left;
    list-style: none;
}
form label {
    text-align: left;
}form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
form li {
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: left;
    list-style: none;
}
form label {
    text-align: left;
}