#root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1280px;
  margin: 20px;
  text-align: center;
}
.section {
  border: 1px solid #000;
}
form,
.saved {
  display: flex;
  flex-direction: column;
}
li {
  list-style: none;
}